@model BlogViewModel

@{
    ViewData["Title"] = "Blogs";
}

@foreach (var blog in Model.BlogList)
{
    <article>
        <h1>@blog.Title</h1>
        <p>Published on April 4, 2024</p>
        <p>@blog.Text</p>
        <form asp-action="DeleteBlog" method="post">
            <input type="hidden" name="id" value="@blog.Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </article>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBlog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" name="Title" placeholder="Blog Title" />
                <input type="text" name="Text" placeholder="Blog Text" />
                <p></p>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



