@model EditCategoriesViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            resize: vertical; 
        }

        .form-group {
            margin-bottom: 15px;
        }

        .btn-secondary {
            background-color: #6c757d;
        }
    </style>
</head>
<body>
    <div class="container">
        <form asp-action="CreateCategorie" method="post">
            <div class="form-group">
                <label for="Title">Category Title:</label>
                <input type="text" id="Title" name="Title" class="form-control" placeholder="Enter category title">
            </div>
            <button type="submit" class="btn btn-primary">Create Category</button>
        </form>
        <p>  </p>
        <div class="mt-3">
            @Html.ActionLink("Back to blogs", "Blogs", null, new { @class = "btn btn-secondary" })
        </div>
        <hr>
        
        @foreach (var categorie in Model.categories)
        {
            <form asp-action="updateCategorie" method="post">
                <input type="hidden" asp-for="@categorie.Id" />
                <div class="form-group">
                    <label asp-for="@categorie.Title">Category Title:</label>
                    <textarea asp-for="@categorie.Title" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <hr />
        }
        <P>  </P>
    </div>
</body>
